echo "/Application Data/" >> .gitignore
echo "/Cookies/" >> .gitignore
echo "/Local Settings/" >> .gitignore
echo "/NetHood/" >> .gitignore
echo "/PrintHood/" >> .gitignore
echo "/Recent/" >> .gitignore
echo "/SendTo/" >> .gitignore
echo "/главное меню/" >> .gitignore
echo "/Мои документы/" >> .gitignore
echo "/Шаблоны/" >> .gitignore